<!DOCTYPE html>
<html>
<head>
    <title>Infra Monitor</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
        body {font-family: Arial; background: #0f172a; color: #e2e8f0; padding: 20px;}
        .card {background: #1e293b; padding: 20px; border-radius: 10px; width: 300px;}
        .title {font-size: 20px; margin-bottom: 10px;}
        .metric {margin: 5px 0;}
        .alert {padding: 10px; margin-top: 10px; border-radius: 6px; background: #334155;}
        .alert-warning {background: #78350f;}
        .alert-critical {background: #7f1d1d;}
    </style>
</head>

<body>
<div id="app">
    <h1>Infra Monitor</h1>
    <div class="card">
        <div class="title">Node: {{ nodeId }}</div>
        <div class="metric">CPU: {{ cpu }}%</div>
        <div class="metric">RAM: {{ ram }}%</div>
        <div class="metric">Disk: {{ disk }}%</div>
    </div>

    <h2 style="margin-top: 30px;">Alerts</h2>
    <div v-if="alerts.length === 0">
        No alerts
    </div>

    <div v-for="alert in alerts" 
            :key="alert.id" class="alert" 
            :class="alertClass(alert.severity)">
        <strong>{{ alert.severity }}</strong> - {{ alert.message }}
    </div>

</div>

<script>
const { createApp } = Vue;

createApp({
    data() {
        return {
            nodeId: 'vps-01',
            cpu: 0,
            ram: 0,
            disk: 0,
            alerts: []
        }
    },

    mounted() {
        this.loadMetrics();
        this.loadAlerts();

        // near real-time dashboard (5s)
        setInterval(() => {
            this.loadMetrics();
            this.loadAlerts();
        }, 5000);
    },

    methods: {
        async loadMetrics() {
            try {
                const res = await fetch(`/api/dashboard/nodes/${this.nodeId}/metrics`);
                const data = await res.json();
                //console.log("API metrics response:", data);

                this.cpu = data.CPU?.payload?.usagePercent ?? 0;
                this.ram = data.RAM?.payload?.usagePercent ?? 0;
                this.disk = data.DISK?.payload?.usagePercent ?? 0;

            } catch (e) {
                console.error("Failed to load metrics", e);
            }
        },
        async loadAlerts() {
            try {
                const res = await fetch(`/api/dashboard/nodes/${this.nodeId}/alerts`);
                const data = await res.json();
                //console.log("API alerts response:", data);

                this.alerts = data.slice().reverse().slice(0, 10);
                this.alerts = data;

            } catch (e) {
                console.error("Failed to load alerts", e);
            }
        },
        alertClass(severity) {
            const s = (severity || '').trim().toUpperCase();

            if (s === 'WARNING') return 'alert-warning';
            if (s === 'CRITICAL') return 'alert-critical';
            return '';
        }
    }
}).mount('#app');
</script>

</body>
</html>